@import 'reset';

body{
    .contain {
        max-width: 960px;
        width: 100%;
        margin: auto;
    }
    .row {
        display: block;
        font-size: 0;
    }
    .collapse {
        @media(max-width: 769px){
            .c-1, .c-2, .c-3, .c-4, .c-5, .c-6, .c-7, .c-8, .c-9, .c-10, .c-11, .c-12{
                width: 100%;
            }
        }  
    }
    .c-1, .c-2, .c-3, .c-4, .c-5, .c-6, .c-7, .c-8, .c-9, .c-10, .c-11, .c-12{
        display: inline-block;
        font-size: 16px;
    }
    .c-1 {
        width: ((100% / 12) * 1);
    }
    .c-2 {
        width: ((100% / 12) * 2);
    }
    .c-3 {
        width: ((100% / 12) * 3);
    }
    .c-4 {
        width: ((100% / 12) * 4);
    }
    .c-5 {
        width: ((100% / 12) * 5);
    }
    .c-6 {
        width: ((100% / 12) * 6);
    }
    .c-7 {
        width: ((100% / 12) * 7);
    }
    .c-8 {
        width: ((100% / 12) * 8);
    }
    .c-9 {
        width: ((100% / 12) * 9);
    }
    .c-10 {
        width: ((100% / 12) * 10);
    }
    .c-11 {
        width: ((100% / 12) * 11);
    }
    .c-12 {
        width: ((100% / 12) * 12);
    }  
}
